<h1> Array Of Colour Codes </h1><hr />
<div>
  [<%- @color_codes.each_with_index do |code, i| -%>
    <%= code %>
    <%- unless i.eql?(@color_codes.size-1) -%>,<%- end -%>
  <%- end -%>]
</div><br />

<%= link_to 'Back to index', :action => 'index' %>